.burger {
  width: 3rem;
  height: 2rem;
  background: none;
  border: none;
  padding: 0;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}
.burger:before, .burger::after,
.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  position: absolute;
}
.burger:before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger:before, .burger::after {
  content: "";
  transition: all 0.2s linear;
}
.burger span {
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s linear;
}
.burger.active span {
  opacity: 0;
}
.burger.active:before, .burger.active::after {
  top: 50%;
}
.burger.active:before {
  transition: all 0.2s linear;
  transform: rotate(45deg);
}
.burger.active:after {
  transition: all 0.2s linear;
  transform: rotate(-45deg);
}

@font-face {
  font-family: ShortBaby;
  font-display: swap;
  src: url("../fonts/ShortBaby-Mg2w.woff2") format("woff2"), url("../fonts/ShortBaby-Mg2w.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 1160px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}
@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}

body {
  font-family: "ShortBaby", sans-serif;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block_item {
  transition: all 0.4s ease;
}
.block_item:hover {
  transform: rotate(90deg);
}